@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*----------------
general
-----------------*/
body, html {
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.wrap .innerWrap {
  max-width: 1440px;
  width: 100%;
  margin: 195px auto;
}
.spOnly {
  display: none;
}
.pcOnly {
  display: block;
}
@media screen and (max-width: 768px) {
  .wrap .innerWrap {
    width: 100%;
    margin: 153px auto;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .spOnly {
    display: block;
  }
  .pcOnly {
    display: none;
  }
}
/*----------------
common
-----------------*/
.title {
  margin: 34px 0 0;
  font-size: 27px;
}
.text01 {
  margin: 11px 0 27px;
  color: hsl(217, 12%, 63%);
  line-height: 1.6;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 768px) {
  .title {
    margin: 18px 0 0;
    font-size: 24px;
  }
  .text01 {
    font-size: 14px;
  }
}
/*----------------
rating component
-----------------*/
.ratingComponent {
  max-width: 409px;
  width: 100%;
  margin: 0 auto;
  padding: 33px 39px 20px 32px;
  border-radius: 30px;
  background-color: hsl(213, 19%, 18%);
}
.star {
  display: flex;
  width: 45.5px;
  height: 45.5px;
  border-radius: 50px;
  background-color: hsl(213, 19%, 23%);
  justify-content: center;
  align-items: center;
}
.ratingForm {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
}
.option{
  display: flex;
  width: 48.5px;
  height: 48.5px;
  border-radius: 50px;
  background-color: hsl(213, 19%, 23%);
  color: hsl(217, 12%, 63%);
  font-size: 17px;
  line-height: 3;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.option:hover{
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}
input {
  display: none;
}
input[name="rate"]:checked + label {
  background-color: hsl(25, 97%, 53%);;
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}
button{
  width: 100%;
  margin: 34px auto 12px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
}
button:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .ratingComponent {
    max-width: 100%;
    padding: 25px 23px 20px 23px;
    border-radius: 15px;
  }
  .star {
    width: 40.5px;
    height: 40.5px;
  }
  .option {
    width: 42.5px;
    height: 42.5px;
    font-size: 14px; 
    line-height: 0;
  }
  button {
    margin: 22px auto 12px;
  }
}
/*----------------
thank you
-----------------*/
.tyImg {
  display: flex;
  margin: 12px auto;
  justify-content: center;
}
.thankYou .title {
  text-align: center;
}
.thankYou .text01 {
  margin: 11px 0 11px;
  text-align: center;
}
.selectRate {
  display: flex;
  width: 56%;
  margin: 31px auto 0;
  padding: 8px;
  border-radius: 15px;
  background-color: hsl(213, 19%, 23%);
  justify-content: center;
  align-items: center;
}
.rateTxt {
  color: hsl(25, 97%, 53%);
}
@media screen and (max-width: 768px) {
  .tyImg {
    margin: 11px auto;
  }
  .tyImg img {
    width: 50%;
  }
  .selectRate {
    margin: 26px auto 0;
    padding: 8px 2px;
    width: 60%;
  }
  .rateTxt {
    font-size: 14px;
  }
  .thankYou .title {
    margin: 26px 0 0;
  }
  .thankYou .text01 {
    margin: 11px 0 19px;
  }
}