@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*----------------
general
-----------------*/
body, html {
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------
common
-----------------*/
.wrap .innerWrap {
  max-width: 409px;
  width: 100%;
  margin: 10.2% auto;
}
.spOnly {
  display: none;
}
.pcOnly {
  display: block;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 768px) {
  .wrap .innerWrap {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .spOnly {
    display: block;
  }
  .pcOnly {
    display: none;
  }
}
.hidden {
  display: none;
}
.title {
  margin: 34px 0 0;
  font-size: 27px;
}
.text01 {
  margin: 11px 0 27px;
  color: hsl(217, 12%, 63%);
  line-height: 1.6;
}
/*----------------
rating component
-----------------*/
.ratingComponent {
  padding: 33px 31px;
  border-radius: 30px;
  background-color: hsl(213, 19%, 18%);
}
.star {
  display: flex;
  width: 45.5px;
  height: 45.5px;
  border-radius: 50px;
  background-color: hsl(213, 19%, 23%);
  justify-content: center;
  align-items: center;
}
.ratingForm {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
}
.option{
  display: flex;
  width: 48.5px;
  height: 48.5px;
  border-radius: 50px;
  background-color: hsl(213, 19%, 23%);
  color: hsl(217, 12%, 63%);
  font-size: 17px;
  line-height: 3;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.option:hover{
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}
/* .option:focus {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
} */
input {
  display: none;
}
input:checked + label{
  background-color: hsl(25, 97%, 53%);;
  color: hsl(0, 0%, 100%);
}
input[type=radio]{
  position: fixed;
  width: 0;
  opacity: 0;
}
button{
  width: 100%;
  height: 2.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
}
button:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
  transition: all 0.5s;
}
.tyImg {
  display: flex;
  margin: 12px auto;
  justify-content: center;
}
.thankYou .title {
  text-align: center;
}
.thankYou .text01 {
  text-align: center;
  margin: 11px 0 11px;
}
.selectRate {
  width: 56%;
  margin: 31px auto 0;
  display: flex;
  padding: 8px;
  border-radius: 15px;
  background-color: hsl(213, 19%, 23%);
  justify-content: center;
  align-items: center;
}
.rateTxt {
  color: hsl(25, 97%, 53%);
}